#header {
	position: sticky;
	top: 0;
	z-index: 10000;
	width: 100%;
	background: var(--header-bg-color);
	line-height: 3em;
	box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	height: var(--header-height);
	justify-content: center;
	padding: 1em;
}

#header img {
	height: 2.5em;
}

#header h1 {
	margin-bottom: 0;
	line-height: 3em;
	padding-left: 1em;
}

@media (min-width: 1200px) {
	#header h1 {
		font-size: 1.5rem;
	}
}
